{% extends 'base.html.twig' %}

{% block title %}Formulaire entreprise{% endblock %}

{% block body %}
    <main class="container mt-5 mb-5 pt-5">
        {% if edit %}
            <h1 class="mb-5">Editer l'entreprise :</h1>
        {% else %}
            <h1 class="mb-5">Ajouter une entreprise :</h1>
        {% endif %}
        

        {# {{ form(formAddEntreprise) }} #}
        {{ form_start(formAddEntreprise) }}
            {{ form_row(formAddEntreprise.raisonSociale) }}
            {{ form_row(formAddEntreprise.dateCreation) }}
            {{ form_row(formAddEntreprise.adresse) }}
            <div class="row">
                <div class="col-sm">
                    {{ form_row(formAddEntreprise.codePostal) }}
                </div>
                <div class="col-sm">
                    {{ form_row(formAddEntreprise.ville) }}
                </div>
            </div>
            
        {{ form_end(formAddEntreprise) }}

    </main>
   

{% endblock %}
