{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}
    
    <main class="container mt-5 pt-5">
        <h1 class="display-5 fw-bold text-body-emphasis mb-5">Détail de l'employé :</h1>
        
        <h2>{{ employe }}</h2>
        <p>
            <b>Employeur :</b> <a href="{{ path('show_entreprise', {'id': employe.entreprise.id}) }}">{{ employe.entreprise }}</a> <br>
            <b>Date d'embauche :</b> {{ employe.dateEmbauche | date("d/m/Y") }} <br>
            <b>Ville de résidence :</b> 
            {% if employe.ville | length > 0 %}
                {{ employe.ville }} <br>
            {% else %}
                Information non renseignée. <br>
            {% endif %}
            <b>Date de naissance :</b> {{ employe.dateNaissance | date("d/m/Y") }} <br>
            <b>Age :</b> {{ employe.age }} ans. <br>
        </p>
    </main>

{% endblock %}